{% extends "_base.html" %}
{% load static %}

{% block title %} Home {% endblock title %}


{% block content %}
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="{% static 'img/hero.jpg' %}" alt="" data-aos="fade-in">

      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h2>Moslem Amiri</h2>
        <p>I'm <span class="typed" data-typed-items="AI Enthusiast, AI Learner ,Backend Developer, Automation Lover ,Tech Explorer, "></span><span class="typed-cursor typed-cursor--blink"></span></p>
        <div class="social-links">
          <a href="https://www.instagram.com/mosllems/"><i class="bi bi-instagram"></i></a>
          <a href="https://github.com/mosllems"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/mosllems/"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

    </section><!-- /Hero Section -->

  </main>
{% endblock content %}